<Files "*****.html">
AddHandler x-httpd-php7.2.27 .php .html
</Files>

RewriteEngine On
#RewriteCond %{HTTPS} !on
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
RewriteRule ^$ /index.php [R=301,L]